@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@font-face {
    font-family: Dyna;
    src: url(/DynaPuff-VariableFont_wdth,wght.ttf);
}

body{
    background-color: rgba(146, 247, 247, 0.912);
    margin: 0;
    padding: 0;
}

h1{
    font-family: Dyna;
    text-align: center;
    font-size: 50px;
    color: rgb(3, 4, 3);
    width: auto;

}

.fmr{
    text-align: center;
    margin: 80px auto;
    width: 30%;
    border: 5px solid black;
    background-color: rgb(241, 229, 213);
    border-radius: 4px;
    box-shadow: 10px 20px;

}

::placeholder{
    color: rgb(238, 52, 52);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


.div1{
    margin-top: 15px;
}

.name1{
    display: inline-block;
    text-align: center;
    width: 80px;
    margin-right: 7px;
}

.name2{
    display: inline-block;
    text-align: right;
    width: 60px;
    margin-right: 6px;
    cursor: pointer;
}

input{
    border-radius: 4px;
}

.env1{
    margin: 40px;
}

.btn{
    background-color: rgb(253, 79, 253);
    color: rgb(250, 250, 250);
    margin-right: 15px;
    

}

.btn:hover{
    background-color: rgb(144, 139, 139);
    color: rgb(130, 41, 214);
    cursor: pointer;
}

#UF{
    margin-left: 25px;
    cursor: pointer;
}

.sex{
    display: inline-block;
    text-align: center;
    width: 20px;
    margin-right: 55px;
    

}

.sex1{
    display: inline-block;
    text-align: center;
    width: 90px;
    margin-right: 37px;

}

.esp{
    display: inline-block;
    text-align: center;
    width: 30px;
    margin-right: 37px;

}


